@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:wght@400;500;700&display=swap');

div.loginInputs {
    max-height: 50%;
    width: 70%;
    min-height: 100px;
}

div.loginInputs form input {
    height: 7vh;
    width: 100%;
    border-radius: 13px;
    outline: none !important;
    color: white;
}

div.loginInputs form input:last-child {
    margin-bottom: 10%;
}

div.loginInputs form input[type='text'],
[type='password'] {
    border: 1px solid #999999;
    background: #333333;
    font-family: 'Oswald';
    font-size: 1vw;
    letter-spacing: 0.15em;
    padding-left: 5%;
}

div.loginInputs form input[type='text'] {
    margin-bottom: 2vh;
}

div.loginInputs form input[type='password'] {
    margin-bottom: 3vh;
}

div.loginInputs form input[type='submit'] {
    background: #358e7e;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 1.25vw;
    cursor: pointer;
}
